<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.grading.query.mapper.MyIndividualGradeMapper">
    <select id="findMyIndividualGrade"
            resultType="org.hit.hradar.domain.grading.query.dto.response.MyIndividualGradeResponseDto">

        SELECT
            ig.individual_grade_id AS individualGradeId,
            ig.grade_id            AS gradeId,
            g.grade_name           AS gradeName,
            ig.grade_reason        AS gradeReason,
            ig.grade_status        AS gradeStatus

        FROM individual_grade ig
                 LEFT JOIN grade g
                           ON ig.grade_id = g.grade_id
                               AND g.is_deleted = 'N'

        WHERE ig.emp_id = #{empId}
          AND ig.cycle_id = #{cycleId}
          AND ig.is_deleted = 'N'

        LIMIT 1

    </select>

</mapper>