spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  kafka:
    bootstrap-servers: ${KAFKA_BROKERS}
    topic:
      notification: ${KAFKA_TOPIC_NOTIFICATION}
    consumer:
      group-id: ${KAFKA_GROUP_ID_NOTIFICATION}

logging:
  level:
    root: INFO
