[submodule "apps/apps/core"]
	path = apps/apps/core
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Core.git
[submodule "apps/apps/frontend"]
	path = apps/apps/frontend
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-FE.git
[submodule "apps/apps/gateway"]
	path = apps/apps/gateway
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Gateway.git
[submodule "apps/apps/chatbot"]
	path = apps/apps/chatbot
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Chatbot.git
[submodule "apps/apps/notification"]
	path = apps/apps/notification
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Notification.git
[submodule "apps/apps/auth"]
	path = apps/apps/auth
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Auth.git
[submodule "apps/apps/infra"]
	path = apps/apps/infra
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Infra.git
[submodule "apps/core"]
	path = apps/core
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-core.git
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-FE.git
[submodule "apps/infra"]
	path = apps/infra
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Infra.git
[submodule "apps/gateway"]
	path = apps/gateway
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Gateway.git
[submodule "apps/chatbot"]
	path = apps/chatbot
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Chatbot.git
[submodule "apps/notification"]
	path = apps/notification
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Notification.git
[submodule "apps/auth"]
	path = apps/auth
	url = https://github.com/Human-Intelligence-Team/HIT-HRadar-Auth.git
