<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.salary.query.mapper.BasicSalaryMapper">

  <select id="findAllByBasicSalary"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.SalaryApprovalRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.SalaryApprovalDTO">
    <!-- 연봉 목록 조회 (전체)-->
    select year(ad.created_at) as year
         , ad.doc_id
         , ad.title
         , ad.approved_at
         , bse.salary_increase_type
         , ad.status as approvalStatus
         , emp.name as writer
         , sum(bse.basic_salary) as totalSalary
         , count(bse.basic_salary_employee_id) as empCount
      from approval_document ad
      join employee emp on ad.writer_id = emp.emp_id
      join basic_salary_employee bse on ad.doc_id = bse.doc_id
     where ad.is_deleted = 'N'
       and ad.company_id = #{comId}
       and ad.doc_type = 'BASIC_SALARY'
    <if test="year != null and year != ''">
       and year(ad.created_at) = #{year}
    </if>
     group by ad.doc_id, ad.title, ad.approved_at, ad.status, ad.writer_id, emp.name, bse.salary_increase_type
     order by ad.created_at desc
  </select>

  <select id="findAllByBasicSalaryByDocId"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.SalaryApprovalRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.SalaryApprovalDTO">
    <!-- 연봉 목록 조회 (전체)-->
    select year(ad.created_at) as year
         , ad.doc_id
         , ad.title
         , ad.approved_at
         , bse.salary_increase_type
         , ad.status as approvalStatus
         , emp.name as writer
         , sum(bse.basic_salary) as totalSalary
         , count(bse.basic_salary_employee_id) as empCount
      from approval_document ad
      join employee emp on ad.writer_id = emp.emp_id
      join basic_salary_employee bse on ad.doc_id = bse.doc_id
     where ad.is_deleted = 'N'
       and ad.company_id = #{comId}
       and ad.doc_id = #{docId}
       and ad.doc_type = 'BASIC_SALARY'
     group by ad.doc_id, ad.title, ad.approved_at, ad.status, ad.writer_id, emp.name, bse.salary_increase_type
     order by ad.created_at desc
  </select>

  <select id="findAllBasicSalaries"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.BasicSalarySearchRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 목록 조회 (전체)-->
    select year(ad.created_at) as year -- 년도
         , ad.doc_id
         , ad.doc_type
         , emp.emp_id  -- 사원 pk
         , emp.employee_no -- 사번
         , emp.name -- 사원명
         , dep.dept_name  -- 부서명
         , cp.name  as positionName -- 직위
         , date_format(ad.approved_at, '%Y-%m-%d') as approvedAt -- 승인 일시
         , emp.type as employmentType -- 재직 상태
         , bse.salary_increase_type
      from approval_document ad
      join basic_salary_employee bse on ad.doc_id = bse.doc_id and bse.is_deleted = 'N'
      join employee emp on bse.emp_id = emp.emp_id and emp.is_deleted = 'N'
      join department dep on emp.dept_id = dep.dept_id and dep.is_deleted = 'N'
      join company_position cp on emp.position_id = cp.position_id and cp.is_deleted = 'N'
     where ad.is_deleted = 'N'
       and ad.doc_type = 'BASIC_SALARY'
       and ad.company_id = #{comId}
       and ad.doc_id = #{docId}
    <if test="deptId != null">
       and dep.dept_id = #{deptId}
    </if>
    <if test="comPositionId != null">
       and cp.position_id = #{comPositionId}
    </if>
    <if test="employmentType != null">
       and emp.type = #{employmentType}
    </if>
    <if test="employeeNo != null and employeeNo != ''">
       and emp.employee_no like concat('%', #{employeeNo}, '%')
    </if>
    <if test="employeeName != null and employeeName != ''">
       and emp.name like concat('%', #{employeeName}, '%')
    </if>
     order by emp.name asc
  </select>

  <select id="findAllBasicSalariesByEmpId"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.SalaryApprovalRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 목록 조회 (본인)-->
    select year(ad.created_at) as year -- 년도
         , ad.doc_id
         , ad.doc_type
         , ad.title
         , emp.emp_id  -- 사원 pk
         , emp.employee_no -- 사번
         , emp.name -- 사원명
         , dep.dept_name  -- 부서명
         , cp.name  as positionName -- 직위
         , date_format(ad.approved_at, '%y-%m-%d') as approvedAt -- 승인 일시
         , bse.salary_increase_type
      from approval_document ad
      join basic_salary_employee bse on ad.doc_id = bse.doc_id and bse.is_deleted = 'N'
      join employee emp on bse.emp_id = emp.emp_id
      join department dep on emp.dept_id = dep.dept_id and dep.is_deleted = 'N'
      join company_position cp on emp.position_id = cp.position_id and cp.is_deleted = 'N'
     where ad.is_deleted = 'N'
       and ad.doc_type = 'BASIC_SALARY'
       and emp.emp_id = #{empId}
       and ad.company_id = #{comId}
       and ad.status = 'APPROVED'
    <if test="year != null and year != ''">
       and year(ad.approved_at) = #{year}
    </if>
      order by ad.doc_id desc
  </select>

  <select id="findBasicSalarySummaryByEmpIdAndYear"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 기본급 히스토리 (전년도/ 올해) -->
    select bse.basic_salary_employee_id
         , bse.salary_increase_type
         , ad.doc_id
         , ad.title
         , bse.emp_id
         , bse.basic_salary
         , bse.increase_rate
         , bse.increase_amount
         , date_format(ad.approved_at, '%Y-%m-%d') as approvedAt
      from basic_salary_employee bse
      join approval_document ad on ad.doc_id = bse.doc_id
     where bse.is_deleted = 'N'
       and ad.is_deleted = 'N'
       and bse.emp_id = #{empId}
       and year(ad.created_at) = #{year}
  </select>

  <select id="findAllBasicSalariesHistoryByEmpId"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryHistoryDTO">
    <!-- 기본급 히스토리 (전년도/ 올해) -->
    select year(ad.created_at) as year
         , bse.salary_increase_type
         , bse.emp_id
         , ad.title
         , lag(bse.basic_salary) over (partition by bse.emp_id order by ad.approved_at) as prevSalary
         , bse.basic_salary              as currentSalary
         , bse.increase_rate
         , date_format(ad.approved_at, '%Y-%m-%d') as approvedAt
      from basic_salary_employee bse
      join approval_document ad on ad.doc_id = bse.doc_id and ad.is_deleted = 'N'
     where bse.is_deleted = 'N'
       and bse.emp_id = #{empId}
     order by ad.approved_at desc
  </select>

  <select id="findEmployeeBasicSalaryByEmpIdAndYear"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalaryDTO">
    <!-- 사원 기본급 조회 -->
    select bse.basic_salary_employee_id
         , ad.doc_id
         , ad.title
         , bse.emp_id
         , bse.basic_salary
         , bse.increase_rate
         , bse.increase_amount
         , date_format(ad.approved_at, '%Y-%m-%d') as approvedAt
      from approval_document ad
      join basic_salary_employee bse on ad.doc_id = bse.doc_id
     where ad.is_deleted = 'N'
       and bse.is_deleted  = 'N'
       and ad.doc_type = 'SALARY'
       and ad.status = 'APPROVED'
       and bse.emp_id = #{empId}
       and year(ad.approved_at) = #{year}
  </select>

  <select id="findBasicSalarySummaryByYear"
    parameterType="org.hit.hradar.domain.salary.query.dto.request.SalaryApprovalRequest"
    resultType="org.hit.hradar.domain.salary.query.dto.BasicSalarySummaryDTO">
     with recursive yearlist
       as (
          select #{year} as target_year
           union all
          select target_year - 1
            from yearlist
           where target_year > #{year} - 4
         )
    select v.target_year as year
         , coalesce(sum(bse.basic_salary), 0) as totalAmount
      from yearlist v
      left join approval_document ad on year(ad.created_at) = v.target_year
       and ad.is_deleted = 'N'
       and ad.company_id = 1
       and ad.doc_type = 'BASIC_SALARY'
       and ad.status = 'APPROVED'
      left join basic_salary_employee bse on ad.doc_id = bse.doc_id
     group by v.target_year
     order by v.target_year desc;
  </select>

</mapper>