.section h3 {
  font-size: 16px;
}

.card-content {
  width: 80%;
  padding-bottom: 30px;
}

.card-history {
  width: 100%;
  padding-bottom: 30px;
}

.search-box {
  display: flex;
  gap: 24px;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
}

.search .label {
  width: 80px;
}


.table-card {
  width:100%;
  border-collapse:separate;
  border-spacing:0;
  overflow:hidden;
  border-radius: 12px;
  border:1px solid var(--border);
  background: rgba(255,255,255,.02);
}
.table-card th {
  background-color: #eaf0ff;
}

.table-card th,.table-card td{
  padding:10px 10px;
  border-bottom:1px solid var(--border);
  text-align:center;
  font-size:13px;
  color:var(--text-main);
  vertical-align:top;
}
