.dashboard-box {
  border: 1px solid #9aa1ad;
  border-radius: 16px;
  height: 300px;
  padding: 27px;

}

.dashboard-box .dashboard-box-header {
  display: flex;
  justify-content: space-between;
}

.dashboard-box .dashboard-box-header .dashboard-box-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.dashboard-box .dashboard-box-body {
  padding: 10px;
  margin-top: 10px;
  height: 180px;
  display: flex;
  gap: 100px;
}

.dashboard-box .dashboard-box-body .amount-box {
  width: 20%;
  display: flex;
  flex-direction: column;   /* h2 위 → 아래 */
  justify-content: center;  /* 세로 중앙 */
  align-items: center;
  gap: 10px;
}


.dashboard-box .dashboard-box-body .amount-box, .compensation-box  .title {
  font-size: 25px;
  font-weight: bold;
}

.dashboard-box .dashboard-box-body .amount-box .content-font {
  font-size: 20px;
  font-weight: bold;
}

.dashboard-box .dashboard-box-body .compensation-box .content-font {
  font-size: 18px;
  font-weight: bold;
  color: #777777;
}

.dashboard-box .dashboard-box-body .compensation-box {
  width: 15%;
  display: flex;
  flex-direction: column;   /* h2 위 → 아래 */
  justify-content: center;  /* 세로 중앙 */
  align-items: center;
  gap: 10px;
}

.dashboard-box .dashboard-box-body .chart-box {
  width: 70%;
}

.dashboard-box .title {
  font-weight: bold;
  font-size: 20px;
}

.dashboard-box .sub-title {
  font-size: 13px;
}

.search-input-box {
  display: flex;
  justify-content: start;
}

.search-input-box .search-section {
  width : 423px;
}
.table th {
  text-align: center;
  vertical-align: middle;
  background-color: #eaf0ff;
}

.table td {
  text-align: center;
  vertical-align: middle;
}
