spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.mariadb.jdbc.Driver
    hikari:
      maximum-pool-size: 45
      minimum-idle: 10
      idle-timeout: 30000
      max-lifetime: 1800000
      connection-timeout: 30000
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
  kafka:
    bootstrap-servers: ${KAFKA_BROKERS}
    topic:
      notification: ${KAFKA_TOPIC_NOTIFICATION}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  servlet:
    multipart:
      max-file-size: ${SPRING_MULTIPART_MAX_FILE_SIZE:20MB}
      max-request-size: ${SPRING_MULTIPART_MAX_REQUEST_SIZE:20MB}
auth:
  internal:
    base-url: ${AUTH_INTERNAL_BASE_URL}
    token: ${INTERNAL_TOKEN}

jwt:
  secret-key: ${JWT_SECRET_KEY}

file:
  storage:
    type: s3
  s3:
    bucket: ${S3_BUCKET}
    region: ${S3_REGION}
    access-key: ${AWS_ACCESS_KEY_ID}
    secret-key: ${AWS_SECRET_ACCESS_KEY}
    prefix: ${S3_PREFIX:prod/}

external:
  vector-index:
    base-url: http://hr-chatbot:80

logging:
  level:
    root: INFO

mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: mappers/**/*.xml
