<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.competencyReport.query.mapper.CompetencyReportMapper">

  <select id="findByCompetencyReportId"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량 강화 리포트 상세 (인사팀/개인) -->
    select cc.cycle_name -- 회차명
         , cc.year  -- 년도
         , cc.quarter  -- 회차
         , date_format(cr.created_at, '%y-%m-%d') as createdAt -- 생성일
         , cr.competency_report_id -- 역량 강화 리포트
         , emp.name  as  employeeName-- 이름
         , emp.employee_no as employeeNo-- 사번
         , dep.dept_name  as deptName-- 부서
         , cp.name as positionName -- 직위
         , cr.kpi_okr_result_summary  -- kpi okr
         , cr.goal_failure_analysis  -- 등급 평가
      from competency_report cr
      join employee emp on cr.emp_id = emp.emp_id
      join department dep on emp.dept_id = dep.dept_id
      join company_position cp on emp.position_id = cp.position_id
      join cycle cc on cr.cycle_id = cc.cycle_id
     where cr.competency_report_id = #{competencyReportId}
       and cc.company_id = #{comId}
  </select>

  <select id="findAllByCycleId"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompReportCycleSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량 강화 리포트 목록 (인사팀) -->
    select cc.cycle_name as cycleName
         , cc.year as year
         , cc.quarter as quarter
         , date_format(cr.created_at, '%Y-%m-%d') as createdAt
         , cr.competency_report_id as competencyReportId
         , emp.name as employeeName    -- 사원 이름
         , emp.employee_no as employeeNo   -- 사번
         , dp.dept_name as deptName   -- 부서명
         , cmp.name as positionName   -- 직위명
      from competency_report cr
      join cycle cc on cc.cycle_id = cr.cycle_id
      join employee emp on cr.emp_id = emp.emp_id
      join department dp on emp.dept_id = dp.dept_id
      join company_position cmp on emp.position_id = cmp.position_id
     where cr.is_deleted = 'N'
       and cc.company_id = #{comId}
       and emp.type = 'WORKING' -- 재직 중
       and cc.year = #{year}
       and cc.quarter = #{quarter}
    <if test="deptId != null">
       and dp.dept_id = #{deptId}
    </if>
    <if test="comPositionId != null">
       and cmp.position_id = #{comPositionId}
    </if>
    <if test="employeeNo != null and employeeNo != ''">
       and emp.employee_no like concat('%', #{employeeNo}, '%')
    </if>
    <if test="employeeName != null and employeeName != ''">
       and emp.name like concat('%', #{employeeName}, '%')
    </if>
     order by cc.year desc, cc.quarter desc, cr.created_at desc
  </select>

  <select id="findAllCycle"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompReportCycleSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CycleDTO">
    <!-- 역량 강화 리포트 회차 목록 (인사팀) -->
    select cc.cycle_id
         , cc.year
         , cc.quarter
         , cc.cycle_name
         , date_format(cc.start_date, '%Y-%m-%d') as startDate
         , date_format(cc.end_date, '%Y-%m-%d') as endDate
         , cc.status
         , emp.name as empName
         , cc.is_comp_report_generated
      from cycle cc
      join employee emp on cc.emp_id = emp.emp_id
     where cc.is_deleted = 'N'
       and cc.status = 'CLOSED'
       and cc.is_comp_report_generated = 'Y'
       and cc.company_id = #{comId}
    <if test="year != null and year != ''">
       and cc.year = #{year}
    </if>
    <if test="quarter != null">
       and cc.quarter = #{quarter}
    </if>
     order by cc.year desc, cc.quarter desc
  </select>

  <select id="findAllByDepthId"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompetencyReportSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량 강화 리포트 목록 (팀장) -->
    select cc.cycle_name as cycleName
         , cc.year as year
         , cc.quarter as quarter
         , date_format(cr.created_at, '%Y-%m-%d') as createdAt
         , cr.competency_report_id as competencyReportId
         , emp.name as employeeName    -- 사원 이름
         , emp.employee_no as employeeNo   -- 사번
         , dp.dept_name as deptName   -- 부서명
         , cmp.name as positionName   -- 직위명
      from competency_report cr
      join cycle cc on cc.cycle_id = cr.cycle_id
      join employee emp on cr.emp_id = emp.emp_id
      join department dp on emp.dept_id = dp.dept_id
      join company_position cmp on emp.position_id = cmp.position_id
     where cr.is_deleted = 'N'
       and emp.type = 'working' -- 재직 중
       and dp.dept_id = #{deptId}
    <if test="year != null and year != ''">
       and cc.year = #{year}
    </if>
    <if test="quarter != null">
       and cc.quarter = #{quarter}
    </if>
    <if test="comPositionId != null">
       and cmp.position_id = #{comPositionId}
    </if>
    <if test="employeeNo != null and employeeNo != ''">
       and emp.employee_no like concat('%', #{employeeNo}, '%')
    </if>
    <if test="employeeName != null and employeeName != ''">
       and emp.name like concat('%', #{employeeName}, '%')
    </if>
     order by cc.year desc, cc.quarter desc, cr.created_at desc
  </select>

  <select id="findAllByEmpId"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompetencyReportSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량 강화 리포트 목록 (사원) -->
    select cc.cycle_name
         , cc.year
         , cc.quarter
         , date_format(cr.created_at, '%Y-%m-%d') as createdAt
         , cr.competency_report_id
      from cycle cc
      join competency_report cr on cc.cycle_id = cr.cycle_id
     where cc.company_id = #{comId}
       and cr.emp_id = #{empId}
    <if test="year != null and year != ''">
       and cc.year = #{year}
    </if>
     order by cc.year desc, cc.quarter desc, cr.created_at desc
  </select>

  <select id="findAllWithCreatedYn"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompReportCycleSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량강화 생성 리스트 -->
    select cc.cycle_id
         , cc.cycle_name
         , cc.emp_id
         , emp.name as employeeName
         , cc.is_comp_report_generated
         , cc.quarter
         , cc.status
         , cc.year
      from cycle cc
      join employee emp on cc.emp_id = emp.emp_id
     where cc.is_deleted = 'N'
       and cc.company_id = #{comId}
    <if test="year != null and year != ''">
       and cc.year = #{year}
    </if>
     order by cc.year asc , cc.quarter desc
  </select>
  <select id="findCreatedReportPeriod"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.CompReportCycleSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CompetencyReportDTO">
    <!-- 역량강화 생성 리스트 -->
    select cr.start_date
         , cr.end_date
      from competency_report cr
      join cycle cc on cr.cycle_id = cc.cycle_id
     where cr.is_deleted = 'n'
       and cc.company_id = #{comId}
       and cc.cycle_id = #{cycleId}
       and cc.year = #{year}
       and cc.quarter = #{quarter}
       and cc.is_comp_report_generated = 'Y'
       and cc.status = 'CLOSED'
     limit 1
  </select>

</mapper>