<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.competencyReport.query.mapper.ContentMapper">

  <select id="findAllContents"
    parameterType="org.hit.hradar.domain.competencyReport.query.dto.request.ContentSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.ContentRowDTO">
    <!-- 학습 컨텐츠 목록 조회 -->
    select ct.content_id        as contentId
         , ct.learning_time     as learningTime
         , ct.level             as level
         , levelcode.custom_name  as levelName
         , ct.resource_path     as resourcePath
         , ct.title             as title
         , typecode.custom_name  as typeName
         , tg.tag_id           as tagId
         , tg.tag_name         as tagName
         , ct.is_deleted        as isDeleted
      from content ct
      join content_tag ctt on ct.content_id = ctt.content_id
      join competency_report_custom_code typecode on ct.type = typecode.custom_code_id
       and typecode.is_deleted = 'N'
      join competency_report_custom_code levelcode on ct.level = levelcode.custom_code_id
       and levelcode.is_deleted = 'N'
      join tag tg on ctt.tag_id = tg.tag_id
       and tg.is_deleted = 'N'
     where ct.is_deleted = 'N'
       and ct.company_id = #{comId}
    <if test="level != null">
       and ct.level = #{level}
    </if>
    <if test="title != null and title != ''">
       and ct.title like concat('%', #{title}, '%')
    </if>
    <if test="type != null">
       and ct.type = #{type}
    </if>
    <if test="learningTime != null">
       and ct.learning_time &lt;= #{learningTime}
    </if>
    <if test="tag != null and tag != ''">
       and tg.tag_name like concat('%', #{tag}, '%')
    </if>
     order by ct.created_at desc

  </select>
  <select id="findContentByContentId"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.ContentDTO">
    <!-- 학습컨텐츠 상세 조회 -->
    select ct.content_id      as contentId
         , ct.title           as title
         , ct.type            as type
         , typecode.custom_code as typeCode
         , typecode.custom_name  as typeName
         , ct.level           as level
         , levelcode.custom_code as levelCode
         , levelcode.custom_name  as levelName
         , ct.learning_time   as learningTime
         , ct.resource_path   as resourcePath
         , ct.notes          as notes
         , ct.is_deleted      as isDeleted
         , ct.created_at      as createdAt
         , ct.updated_at      as updatedAt
      from content ct
      join competency_report_custom_code typecode
        on ct.type = typecode.custom_code_id
       and typecode.is_deleted = 'N'
      join competency_report_custom_code levelcode
        on ct.level = levelcode.custom_code_id
       and levelcode.is_deleted = 'N'
     where ct.content_id = #{id}
       and ct.company_id = #{comId}

  </select>

  <select id="findContentByCompetencyReportId"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.ContentRowDTO">
    <!-- 학습 컨텐츠 목록, 태그 목록 조회 -->
    select rc.competency_report_id
         , rc.reason
         , ct.content_id
         , ct.title
         , ct.type            as type
         , ct.level           as level
         , levelcode.custom_code as levelCode
         , levelcode.custom_name  as levelName
         , ct.learning_time
         , ct.resource_path   as resourcePath
         , tg.tag_id
         , tg.tag_name
      from report_content rc
      join content ct on rc.content_id = ct.content_id
      join content_tag ctt on rc.content_id = ctt.content_id
      join tag tg on ctt.tag_id = tg.tag_id
      join competency_report_custom_code levelcode
        on ct.level = levelcode.custom_code_id
     where rc.competency_report_id = #{competencyReportId}
       and ct.is_deleted = 'N'
       and ct.company_id = #{comId}
     order by ct.content_id asc
  </select>
</mapper>
