<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hit.hradar.domain.competencyReport.query.mapper.CustomCodeMapper">

  <select id="findGroupCodes"
    parameterType="Long"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CustomCodeDTO">

    select crc.custom_code_id
         , crc.group_code
         , crc.group_name
      from competency_report_custom_code crc
     where crc.com_id = #{comId}
       and crc.custom_code is null
     group by crc.custom_code_id, crc.group_code, crc.group_name
  </select>

  <select id="findAllCustomCodeByGroupCode"
    parameterType="org.hit.hradar.domain.competencyReport.command.application.dto.request.CustomCodeSearchRequest"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CustomCodeDTO">
    select crc.custom_code_id
         , crc.group_code
         , crc.group_name
         , crc.custom_code
         , crc.custom_name
      from competency_report_custom_code crc
     where crc.com_id = #{comId}
    <if test="groupCode != null">
       and crc.group_code = #{groupCode}
    </if>
       and crc.custom_code is not null
     order by crc.custom_code_id
  </select>

  <select id="findAllCustomCodes"
    resultType="org.hit.hradar.domain.competencyReport.query.dto.CustomCodeDTO">
    select crc.custom_code_id
         , crc.group_code
         , crc.group_name
         , crc.custom_code
         , crc.custom_name
         , crc.is_deleted
      from competency_report_custom_code crc
     where crc.com_id = #{comId}
       and crc.group_code = #{groupCode}
       and crc.custom_code is not null
       and crc.is_deleted = 'N'
     order by crc.custom_code_id
  </select>
</mapper>
