.btn-small {
  border:none;
  padding:7px 10px;
  border-radius:12px;
  background: rgba(255,255,255,.06);
  color:var(--text-main);
  cursor:pointer;
  transition:.15s ease;
  border:1px solid var(--border);
  margin-top: 5px;
}

. tag-th {
  vertical-align: middle;     /* table 기본 안전장치 */
  display: flex;
  flex-direction: column;     /* 위 → 아래 정렬 */
  justify-content: center;    /* 세로 가운데 */
  align-items: center;        /* 가로 가운데 (원하면 left로 변경 가능) */
  gap: 10px;
}
.side-box {
  padding: 20px;
  border:1px solid var(--border);
}

.side-box .side-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.side-box .side-header .side-box-title {
  font-weight: bold;
  font-size: 15px
}

.side-box .side-search {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid var(--border);
  font-size: 13px;

}

.side-box .side-search .input {
  margin-left: 10px;
  width : 80%;
}

.side-box .side-content {
}

.btn-box .btn {
  width: 60px;
}
